# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/web-client/node_modules
/web-client/.pnp
/web-client/.pnp.js

# testing
/web-client/coverage

# production
/web-client/build

# misc
.DS_Store
/web-client/.env.local
/web-client/.env.development.local
/web-client/.env.test.local
/web-client/.env.production.local

/web-client/npm-debug.log*
/web-client/yarn-debug.log*
/web-client/yarn-error.log*

.localdev
*.log
