rules_version = '2';
// test 123
service cloud.firestore {
  match /databases/{database}/documents {
    match /decks/{deckId} {
      function getDeckOwner() {
        return get(/databases/$(database)/documents/decks/$(deckId)).data.userId;
      }
      allow read: if request.auth.uid != null;
      allow create: if request.auth.uid == request.resource.data.userId;
      allow write: if request.auth.uid == request.resource.data.userId;
      allow delete: if request.auth.uid == getDeckOwner();
    }

    match /games/{gameId} {
      function getGameOwner() {
        return get(/databases/$(database)/documents/games/$(gameId)).data.ownerUserId
      }

      allow read: if request.auth.uid != null;
      allow create: if request.auth.uid == request.resource.data.ownerUserId;
      allow write: if request.auth.uid in request.resource.data.playersId;
      allow delete: if request.auth.uid == getGameOwner();

      match /playerStates/{playerUserId} {
        allow read: if request.auth.uid != null;
        allow create: if request.auth.uid == getGameOwner();
        allow write: if (request.auth.uid == getGameOwner()) || (request.auth.uid == playerUserId);
      }
    }

    match /profiles/{uid} {
      allow read: if request.auth.uid != null;
      allow create: if request.auth.uid == request.resource.id;
      allow write: if request.auth.uid == request.resource.id;
    }
  }
}
